.header {
    background-color: #3c9fc3;
    color: white;
}
.header-title { background:#3c9fc3; color:#fff; padding:.25rem .75rem; border-radius:.75rem; }
h2, h3, h4 { color:#005f73; }


h1.header {
    font-size: 9vw;
}

h2, h3, h4 {
    color: #005f73;
}

form.register {
    border: 1px solid #3c9fc3;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 15px;
}

.img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease-in-out;
}
.img:hover {
    transform: scale(1.2);
}
